<div class="text-center">
  <div class="bg-image p-5 text-center shadow-1-strong rounded text-black img-fluid">
  </div>
</div>
<div class="bg-light">
  <div class="container d-flex justify-content-center">
    <div class="p-3 pb-3 col-9">
      <h1 class="text-center">Holiday Shopping List</h1>
      <p>Having trouble with Holiday Shopping? Say no more. Here at The Perfect Holiday Shopping List (TPHSL), we've compiled the tools you'll
        need to help you break out of the guilt and shame you currently feel in forgetting to get your loved ones gifts this holiday. Not
        only do we offer an efficient, one step at a time approach to shopping, using this app will also help you
        free up that valuable time of yours to be with the ones you truly care about (even though you forgot to get them gifts). We'll take you through, step by step, and help you
        breakdown that long list you have into manageable pieces. See ya later !!</p>
    </div>
  </div>
  <div class="text-center bg-secondary text-bg-dark pt-3" id="features">
    <h1>Features</h1>
    <ul class="d-flex flex-wrap px-4 justify-content-center">
      <li class="d-flex flex-wrap justify-content-center align-items-center pt-3">
        <i class="fa-solid fa-gift col-12 col-md-4"></i>
        <div class="col-12 col-md-4 pt-3">
          <h4>Shopping List 101</h4>
          <p>Still feeling guilty about not getting everyones gifts? Here at "TPHSL" we will walk you
            through the entire process. Not sure what to get those pesky in-laws of yours for the Holiday season? No problem. The
            "TPHSL" will make sure you know where to start for each step. Once you've completed each step of the Perfect Holiday Shopping List 
            journey, we will put it all together for you in a comprehensive simplified list.
          </p>
        </div>
      </li>
      <li class="d-flex pt-3 w-50 border-bottom border-3"></li>
      <li class="d-flex flex-wrap-reverse justify-content-center align-items-center pt-3">
        <div class="col-12 col-md-4 pt-3">
          <h4>Shopping List To-Go</h4>
          <p>Take your Shopping List on the road with you! You can access your materials
            anywhere you have an internet connection. Whether you're having the staycation of your life or out in the
            world on an adventure, The Perfect Holiday Shopping List  will be there with you (not in a creepy way), ready to help you during this years holidy season.
          </p>
        </div>
        <i class="fa-solid fa-mountain-city col-12 col-md-4"></i>
      </li>
      <li class="d-flex pt-3 w-50 border-bottom border-3"></li>
      <li class="d-flex flex-wrap justify-content-center align-items-center pt-3">
        <i class="fa-solid fa-user-lock col-12 col-md-4"></i>
        <div class="col-12 col-md-4 pt-3">
          <h4>Keep Your List Safe</h4>
          <p>Here at The Perfect Holiday Shopping List, we're committed to keeping your private information just
            that, private. You don't need to worry about anyone else viewing or editing your list, you'll have your own
            account and sole access to create, edit, or delete outlines at your discretion.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>